html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
header {
	width: 100%;
	height: 20%;
	background-color: rgba(38, 38, 38, 0.5);
	display: flex;
	align-items: center;
}
#main {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
	height: 80%;
}
aside {
	width: 20%;
	height: 100%;
	background-color: #66cc99;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}
canvas {
	width: 80%;
	height: 100%;
}
ul {
	padding: 0;
	margin: 0;
	height: 100%;
}
li {
	list-style: none;
	height: 15%;
	margin: 20px 0;
}
#main img {
	width: 80px;
	height: 80px;
}
button {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 40px;
	background-color: white;
	border: 0;
	color: #66cc99;
	font-size: 24px;
	font-weight: bold;
	border-radius: 5px;
}
button:active {
	color: #547562;
}
header img {
	margin-left: 6%;
	width: 120px;
}
header h1 {
	color: white;
	font-family: Arial;
	width: 80%;
}
#main h2 {
	color: white;
}
#main h2:hover {
	opacity: 0.7;
}
#main span {
	opacity: 0;
	width: 150px;
	font-size: 12px;
}
#main h2:hover + span {
	opacity: 1;
	color: white;
	position: fixed;
	left: 90px;
	top: 600px;
}
#main div {
	position: fixed;
	left: 50px;
	top: 600px;
}