html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #66cc99;
}
a {
	width: 300px;
	height: 300px;
	background-image: url("dragin-me.png");
	background-size: cover;
}